@import "app/cssAssets/mixins";
@import "app/cssAssets/variables";

.header {
  background-color: $dark;
  max-width: 100%;
  margin-top: 0;
  padding: 5px;
  transition: margin-left 0.5s;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-and-create-new-contact {
  @include flex-row;
  justify-content: center;
  align-items: center;
}

.search-input {
  @include font($size: $large);
  width: 50%;
  height: 3rem;
  border-radius: 1rem;
  padding-left: 1rem;
  border: none;
}

.create-new-contact-photo {
  width: 4rem;
  margin-left: 2rem;
  height: 4rem;
}

.header-display-message {
  @include font($size: $x-large, $color: red, $align: center);
  padding-bottom: 1rem;
}
