.menu-items {
  text-align: center;
  display: block;
  margin-top: 1rem;
  font-size: 1.3rem;
  line-height: 2em;
  background-color: rosybrown;
  border-radius: 1rem;
  border: 1px solid;
}

.group-items {
  text-align: center;
  display: block;
  width: 95%;
  margin: 0.1rem auto 0 auto;
  font-size: 1.1rem;
  line-height: 2em;
  background-color: rosybrown;
  border-radius: 1rem;
  border: 1px solid;
}

.menu-items:hover,
.menu-items:active,
.group-items:hover,
.group-items:active {
  cursor: pointer;
  background-color: rgb(122 85 71);
}
